.body {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 162, 202);
  color: whitesmoke;
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 50;
}

ul {
  list-style: none;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .welcome-message {
    display: none;
  }
}

li {
  display: inline-block;
  margin-left: 16px;
}

.nav-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0 1rem;
  height: 64px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: background-color 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #0089b3;
}
