.chapter-container {
  padding: 10px;
  margin: 16px 5px;
  border: 1px solid #ccc;
  width: 100px;
  background-color: #c3bbbb;
  border-radius: 5px;
}

.chapter-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.paragraph-container {
  padding: 10px 16px;
  margin: 16px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}
